*{
    color: 	#C45166;
    /* rgb(196, 81, 102) */
    color: #ED2024;
    /* rgb(237,32,36) */
    color: #000000;
    /*  rgb(0, 0, 0) */
    color: #FFFFFF;
    /* rgb(255, 255, 255) */
    color: #3FEEE6;

    color: #55BCC9;

    color: #CAFAFE;

    color: #97CAEF;
}