*{
    margin: 0;
    padding: 0;
}

.body-forgotPassword{
    background-image: linear-gradient(rgba(175, 37, 63,0.100),rgba(207, 155, 165,0.85)), url("../img/japan.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.forgotPassword-title{
    /* width: auto; */
    /* height: 100%; */
    /* background-color: rgb(238, 238, 238);  */
}

.forgotPassword-title h2{
    color: rgb(31, 31, 31);
    text-align: center;
    font-size: 70px;
    letter-spacing: 5px;
    font-style: italic;
    text-align: center;
    font-size: 70px;
}

.forgotPassword-title table{
    /* border: solid black 2px; */
    height: 80px;
    /* width: auto; */
}

.forgotPassword-title form{
    background: rgba(211, 211, 211, 0.5);
    border-radius: 20px;
    padding: 20px;
    /* border: solid black 2px; */
    justify-items: center;
}

.forgotPassword-title .col{
    display: flex;
    justify-content: center;
}

.forgotPassword-title .title{
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.forgotPassword-title .input{
    padding-left: 12px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 22px;
    border: none;
    border: solid 1px rgb(196, 81, 102);
}

.forgotPassword-title img{
    height: 360px;
    width: 380;
}

.forgotPassword-title .container{
    margin-top: 120px;
}

.forgotPassword-title button{
    width: 100%;
    border-radius: 20px;
    background-color: rgb(167, 48, 69);
    border: none;
    color: white;
}

.forgotPassword-title button:hover{
    transform: scale(1.1);
}