* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.otp {
  background-image: linear-gradient(
      rgba(175, 37, 63, 0.1),
      rgba(207, 155, 165, 0.85)
    ),
    url("../img/japan_street.jpg");
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contain {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
  justify-content: center;
}

.userInput {
  display: flex;
  justify-content: center;
}

.userInput input {
  display: left;
  width: 50px;
  font-size: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  border: 3px solid #000000;
  color: black;
  background: transparent;
  font-weight: bold;
  outline: none;
  transition: all 0.1s;
}

.otp h1 {
  color: rgb(31, 31, 31);
  text-align: center;
  font-size: 70px;
  letter-spacing: 5px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 200px;
}

.space {
  margin-right: 1.4rem !important;
}

/* .otp .btn-submit{
  display: flex;
  justify-content: center;
  margin-top: 30px;
} */

.otp button {
  justify-content: center;
  background-color: rgb(167, 48, 69);
  color: white;
  font-size: 32px;
  width: 50px;
  border-radius: 5px;
  border: none;
}

.otp button:hover {
  transform: scale(1.02);
}
