*{
    margin: 0px;
    padding: 0px;
}

.bd-resetpass{
    background-image: linear-gradient(rgba(175, 37, 63,0.100),rgba(207, 155, 165,0.85)), url("../img/japan.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.resetPass{
    height: 100%;
    width: auto;
}

.resetPass h2{
    color: rgb(31, 31, 31);
    text-align: center;
    font-size: 70px;
    letter-spacing: 5px;
    font-style: italic;
    text-align: center;
    font-size: 70px;
}

.reset{
    /* background-color: grey; */
    justify-content: center;
    display: flex;
}

.label{
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

form{
    margin-top: 100px;
    padding: 70px;
    background: rgba(211, 211, 211, 0.5);
    width: auto;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 100px;
}

table {
    height: 140px;
    width: 480px;
    margin-bottom: 20px;
}

.resetPass input{
    height: 35px;
    width: 260px;
    margin-left: 0px;
    border-radius: 20px;
    border: transparent;
    padding-left: 12px;
    border: solid 1px rgb(196, 81, 102);
    font-size: 16px;
    outline: none;
}

.showPass{
    width: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(167, 48, 69);
    /* border-radius: 50px; */
    margin-left: -40px;
    background-color: rgb(255, 255, 255);
}

.showPass:hover{
    transform: scale(1.05);
}

.btn-rst{
    display: flex;
    justify-content: center;
}

.resetPass button{
    width: 60%;
    border: none;
    border-radius: 20px;
    background-color: rgb(167, 48, 69);
    color: rgb(255, 255, 255);
}

.resetPass button:hover{
    transform: scale(1.1);
}