/* --------------------------------------------- */
/* -------------- DEFAULT SETTING -------------- */
/* --------------------------------------------- */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 20px;
    text-rendering: optimizeLegibility;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

section{
    padding: 40px;
    margin-top: 20px;
}

h2, h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type=email]::placeholder {
    font-size: 16px;
    margin-right: 5px;
}

/* --------------------------------------------- */
/* ------------------ Header ------------------- */
/* --------------------------------------------- */

/* .nav-header{
    width: 100%;
    margin: 0px 0px 20px 0px;
    background-color: rgb(226, 226, 226);
    position: relative;
} */

header{
    /* background-color: #b1373a; */
    background-image: linear-gradient(rgba(82, 0, 0, 0.9), rgba(237,32,36,0.90));
    width: 100%;
    height: 100%;
}

header .container img.logo{
    width: 80px;
}

header form input{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;  
    font-size: 16px;
}

.border-bottom ul{
    margin-left: 20px;
}

.nav li a:hover{
    transform: scale(1.1);
}

/* --------------------------------------------- */
/* ------------------- Content ----------------- */
/* --------------------------------------------- */

.info-section.container{
    /* background-color: aliceblue; */
    justify-content: center;
    padding: 20px 0px 0px 20px;
}

.info-section{
    padding: 40px;
    background-color: rgb(247, 247, 247);
}

.info-section img {
    height: 200px;
    /* border: solid palegreen 2px; */
    border-radius: 20px;
    display: inline;
}

.info-section h2{
    text-align: center;
} 

/* --------------------------------------------- */
/* -------------- Footer-section --------------- */
/* --------------------------------------------- */

.footer-section{
    padding: 20px;
}

.footer-section li{
    display: inline-block;
    margin-top: 10px;
}

.footer-section i{
    margin-right: 10px;
}

.footer-section .footerLeft{
    width: 320px;
    float: left;
    /* border: solid black 2px; */
}

.footer-section .review{
    width: 400px;
    float: right;
    
}

.footer-section .review .tittleReview{
    margin-left: 10px;
}

.footer-section textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    resize: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.footer-section form{
    margin: 10px;
    padding: 12px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(224, 224, 224, 0.85));
    border: solid black 2px;
    border-radius: 20px;
    
}

form textarea{
    margin-top: 5px;
}

.submit{
    position: relative;
    width: 20%; 
    margin: 10px 0px 0px 280px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.btn-submit{
    justify-items: right;
    margin-right: 50px;
}

.footer-section .submit{
    width: 60px;
    border: thick;
}